h2,
h3,
h4 {
  color: #3A4145;
  margin: 2rem 0; }

.u-center-text {
  text-align: center; }

.bottom-margin-less {
  margin-bottom: 2rem; }

.bottom-margin-more {
  margin-bottom: 6rem; }

.padding-top-bottom {
  padding: 4rem 0; }

.top-margin-less {
  margin-top: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: "Open Sans",  sans-serif;
  line-height: 1.7;
  color: #1f1f1f; }

.main {
  text-align: center;
  padding: 1rem 10% 1.5rem 10%;
  width: 100%; }

.p {
  padding: 0 8%; }

.icon-bar {
  display: inline-flex; }

.icon-bar .icon {
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.icon-bar .icon span {
  display: block;
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.icon-bar .icon span i {
  line-height: 30px;
  font-size: 18px; }

.icon-bar .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.icon-bar a {
  color: #3A4145; }

.icon-bar .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto; }

.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.icon-bar .icon:hover span {
  color: #fff; }

.icon-bar .icon:hover span,
.icon-bar .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4); }

.icon-bar .facebook:hover span,
.icon-bar .facebook:hover .tooltip,
.icon-bar .facebook:hover .tooltip:before {
  background: #3b5999; }

.icon-bar .twitter:hover span,
.icon-bar .twitter:hover .tooltip,
.icon-bar .twitter:hover .tooltip:before {
  background: #46c1f6; }

.icon-bar .instagram:hover span,
.icon-bar .instagram:hover .tooltip,
.icon-bar .instagram:hover .tooltip:before {
  background: #e1306c; }

.icon-bar .github:hover span,
.icon-bar .github:hover .tooltip,
.icon-bar .github:hover .tooltip:before {
  background: #333; }

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 4rem 0; }
  .skills-container .skills-item {
    margin: 0.4rem; }
    .skills-container .skills-item .img {
      width: 8rem;
      height: 8rem;
      transition: all 0.3s; }
      .skills-container .skills-item .img:hover {
        transform: scale(1.2); }

.header {
  background-color: #e3f3ff;
  border-bottom: 1px solid rgba(58, 65, 69, 0.4);
  padding: 4rem 2rem; }

.header-text-box {
  width: auto;
  text-align: center; }
  .header-text-box .img-logo {
    width: 9em;
    height: 9em;
    margin-top: 2rem;
    border-radius: 50%; }
    .header-text-box .img-logo:hover {
      offset: 60%;
      border: 2px solid #078acc; }
  .header-text-box .heading-primary {
    color: #3A4145; }
    .header-text-box .heading-primary .heading-primary-main {
      display: block;
      color: #3A4145;
      font-size: 2.7rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
      text-decoration: none;
      animation-name: moveInLeft;
      animation-duration: 0.5s; }
    .header-text-box .heading-primary .heading-primary-main:hover {
      color: #078ACC; }
    .header-text-box .heading-primary .heading-primary-sub {
      font-weight: 400;
      font-size: 1.3rem;
      margin-bottom: 0.4rem;
      animation-name: moveInRight;
      animation-duration: 0.5s;
      color: #3a4145; }

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .navigation .logo {
    width: 40%; }
    .navigation .logo h1 {
      color: #3A4145;
      margin-left: 1rem;
      font-size: 1.5rem; }
      .navigation .logo h1:hover {
        color: #078ACC; }
  .navigation nav {
    display: flex; }
    .navigation nav .nav-link {
      text-decoration: none;
      color: #3A4145;
      margin: 0 1rem;
      font-size: 1.19rem; }
      .navigation nav .nav-link:hover {
        color: #078ACC; }

@media screen and (min-width: 587px) {
  .navigation .hamburger {
    display: none; }
  .header .mobile-nav {
    display: none; } }

@media screen and (max-width: 587px) {
  .main-nav,
  .main-nav a {
    display: none; }
  .navigation .logo {
    width: auto; }
  #hamburger {
    position: absolute;
    right: 20px;
    transition: all 0.3s; }
    #hamburger:hover {
      transform: scale(1.2); }
  .mobile-nav {
    position: fixed;
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    background-color: white;
    padding: 5rem 40vw 100vh 2rem;
    margin-top: -70px;
    margin-left: -2rem;
    z-index: 3;
    transition: all 0.4s ease-in-out; }
  .mobile-nav a {
    text-decoration: none;
    color: #3A4145;
    margin: 0 1rem;
    font-size: 1.39rem;
    margin-bottom: 0.5rem; }
    .mobile-nav a:hover {
      color: #078ACC; } }

.header-projects .title-container {
  text-align: center;
  width: 100%;
  margin-top: 2.5rem; }
  .header-projects .title-container h1 {
    font-size: 3.7rem;
    color: #3A4145; }
  .header-projects .title-container h3 {
    font-weight: 300;
    color: rgba(58, 65, 69, 0.7); }

.main-proj {
  margin: 4%; }
  .main-proj .sec-proj {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0; }
    .main-proj .sec-proj img {
      width: 300px;
      border: 1px solid #078ACC;
      margin-right: 2rem;
      margin-bottom: 3%;
      transition: all 0.3s; }
    .main-proj .sec-proj img:hover {
      transform: scale(1.1); }
    .main-proj .sec-proj .img-box {
      margin: auto; }
    .main-proj .sec-proj h2 {
      color: #3A4145; }
    .main-proj .sec-proj p {
      color: rgba(58, 65, 69, 0.6);
      margin-bottom: 0.5rem; }
    .main-proj .sec-proj .regular-btn {
      text-decoration: none;
      color: #3A4145;
      font-size: 1.2rem;
      transition: all 0.3s;
      display: inline-block; }
      .main-proj .sec-proj .regular-btn:hover {
        color: #078ACC;
        transform: scale(1.09); }
    .main-proj .sec-proj .text-box-proj {
      width: 700px; }
