.header {
  background-color: $lite-blue-bg;
  border-bottom: 1px solid rgba($dark-grey, 0.4);
  padding: 4rem 2rem;
}
.header-text-box {
  width: auto;
  text-align: center;

  .img-logo {
    width: 9em;
    height: 9em;
    margin-top: 2rem;
    border-radius: 50%;
    &:hover {
      offset: 60%;
      border: 2px solid rgba($dark-purple, 1);
    }
  }
  .heading-primary {
    color: $dark-grey;
    .heading-primary-main {
      display: block;
      color: $dark-grey;
      font-size: 2.7rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
      text-decoration: none;
      animation-name: moveInLeft;
      animation-duration: 0.5s;
    }
    .heading-primary-main:hover {
      color: $dark-purple;
    }
    .heading-primary-sub {
      // display: block;
      font-weight: 400;
      font-size: 1.3rem;
      margin-bottom: 0.4rem;
      animation-name: moveInRight;
      animation-duration: 0.5s;
      color: rgba($dark-grey, 1);
    }
  }
}

// navigation
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .logo {
    width: 40%;
    h1 {
      color: $dark-grey;
      margin-left: 1rem;
      font-size: 1.5rem;
      &:hover {
        color: $dark-purple;
      }
    }
  }
  nav {
    // width: 70%;
    display: flex;
    .nav-link {
      text-decoration: none;
      color: $dark-grey;
      margin: 0 1rem;
      font-size: 1.19rem;
      &:hover {
        color: $dark-purple;
      }
    }
  }
}

// Mobile navigation
@media screen and (min-width: 587px) {
  .navigation .hamburger {
    display: none;
  }
  .header .mobile-nav {
    display: none;
  }
}
@media screen and (max-width: 587px) {
  .main-nav,
  .main-nav a {
    display: none;
  }
  .navigation .logo {
    width: auto;
  }
  #hamburger {
    position: absolute;
    right: 20px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .mobile-nav {
    position: fixed;
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    background-color: white;
    padding: 5rem 40vw 100vh 2rem;
    margin-top: -70px;
    margin-left: -2rem;
    z-index: 3;
    transition: all 0.4s ease-in-out;
  }

  .mobile-nav a {
    text-decoration: none;
    color: $dark-grey;
    margin: 0 1rem;
    font-size: 1.39rem;
    margin-bottom: 0.5rem;
    &:hover {
      color: $dark-purple;
    }
  }
}
